body {
    font-family: sans-serif;
    color: cornflowerblue;
    background-color: floralwhite;
    font-weight: lighter;
}

h1 {
    font-size: 50px;
    font-weight: bolder;
    border-style: groove;
    border-width: thick;
    border-color: cornflowerblue;
    text-align: center;
    text-shadow: 3px 3px blueviolet;
}

h1:hover {
    color: red;
}

#hiddenText{
    color: floralwhite;
}

#hiddenText:hover {
    color: cornflowerblue;
}


#hardToRead{
    color: cornflowerblue;
    opacity: 0.2;
}