<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Portfolios: {{ portfolio.title }}</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}

</head>
<body>
<div class="container">
  <ul class="nav bg-info">
    <li class="nav-item">
      <a class="nav-link link-light" href="/">HOME</a>
    </li>
    <li class="nav-item">
      <a class="nav-link link-light" href="/portfolios">PORTFOLIOS</a>
    </li>
    <li class="nav-item">
      <a class="nav-link link-light" href="/hobbies">HOBBIES</a>
    </li>
    <li class="nav-item">
      <a class="nav-link link-light" href="/contact">CONTACT</a>
    </li>
  </ul>
  {% block content %}
  {% endblock %}
</div>
<h1>{{ portfolio.title }}</h1>
    <p>
        {{ portfolio.content }}

    </p>
<img src="{{ portfolio.portfolio_image.url }}" alt="thing">
</body>
</html>